@import "../../assets/styles/utils/mixins";

.page-not-found {
  .bg-page-not-found {
    @include gradientChanged;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .not-found-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        margin-top: -80px;
      }
      h1 {
        color: $light;
        text-align: center;
        margin-bottom: 50px;
      }
      .back {
        a {
          @include p;
          color: $primary;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}
