@import "../../assets/styles/utils/mixins";

.page-not-found {
  .bg-page-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("/assets/img/intro.jpg") center center no-repeat;
    background-size: cover;
    .not-found-text {
      h1 {
        @include h1;
        color: $light;
        text-align: center;
      }
      .not-found-back-btn {
        margin-top: 40px;
        p {
          color: $light;
          text-align: center;
        }

      }
    }


  }
}
