@import "variables";

/*-------------------------------------------------max-width*/
.max-width {
  margin: 0 auto;
  max-width: $desktop;
}

/*-------------------------------------------------other*/
.coming-soon {
  user-select: none;
  & > div {
    opacity: 0.4;
  }
}
/*-------------------------------------------------flexbox*/
.flex-left {
  display: flex;
  justify-content: flex-start;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-right {
  display: flex;
  justify-content: flex-end;
}
/*-------------------------------------------------buttons*/
.btn-primary {
  border-radius: $radius-btn;
  padding: 15px 40px;
  margin: 0 2%;
  color: $black;
  text-decoration: none;
  background: $white;
  &:hover {
    transition: $transition;
    color: $white;
    background: $primary;
  }
}
.btn-secondary {
  border-radius: $radius-btn;
  padding: 15px 40px;
  margin: 0 2%;
  color: $white;
  text-decoration: none;
  background: $primary;
  &:hover {
    transition: $transition;
    background: darken($primary, 15%);
  }
}
/*-------------------------------------------------responsive*/
.m0-mobile {
  @media screen and (max-width: $mobile) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
.p0-mobile {
  @media screen and (max-width: $mobile) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.padding-responsive {
  @media screen and (max-width: $desktop) {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  @media screen and (max-width: $tablet) {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  @media screen and (max-width: $mobile) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
