@import "variables";

/*-------------------------------------------------flexbox*/
.__flex-center {
  display: flex;
  justify-content: center;
}

/*-------------------------------------------------buttons*/
.__btn-primary {
  border-radius: $radius-btn;
  padding: 15px 40px;
  margin: 0 2%;
  color: $black;
  text-decoration: none;
  background: $white;
  &:hover {
    transition: $transition3;
    color: $white;
    background: $primary;
  }
}
.__btn-secondary {
  border-radius: $radius-btn;
  padding: 15px 40px;
  margin: 0 2%;
  color: $white;
  text-decoration: none;
  background: $primary;
  width: max-content;
  &:hover {
    transition: $transition3;
    background: darken($primary, 15%);
  }
}
.__padding-depth {
  padding: 25px;
}
