@import "variables";

/*-------------------------------------------------max-width*/
._max-width {
  margin: 0 auto;
  max-width: $desktop;
}

/*-------------------------------------------------other*/
._coming-soon {
  user-select: none;
  & > div {
    opacity: 0.4;
  }
}
/*-------------------------------------------------flexbox*/
._flex-left {
  display: flex;
  justify-content: flex-start;
}
._flex-center {
  display: flex;
  justify-content: center;
}
._flex-right {
  display: flex;
  justify-content: flex-end;
}

/*-------------------------------------------------buttons*/
._btn-primary {
  border-radius: $radius-btn;
  padding: 15px 40px;
  margin: 0 2%;
  color: $black;
  text-decoration: none;
  background: $white;
  &:hover {
    transition: $transition3;
    color: $white;
    background: $primary;
  }
}
._btn-secondary {
  border-radius: $radius-btn;
  padding: 15px 40px;
  margin: 0 2%;
  color: $white;
  text-decoration: none;
  background: $primary;
  width: max-content;
  &:hover {
    transition: $transition3;
    background: darken($primary, 15%);
  }
}
._padding-depth {
  padding: 25px;
}
/*-------------------------------------------------responsive*/
._m0-mobile {
  @media screen and (max-width: $mobile) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
._p0-mobile {
  @media screen and (max-width: $mobile) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

._padding-responsive {
  @media screen and (max-width: $desktop) {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  @media screen and (max-width: $tablet) {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  @media screen and (max-width: $mobile) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
