@import "variables";

//---------------------------------------heading
@mixin h1 {
  font-family: 'Alice', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 73px;
  text-align: center;
  @media screen and (max-width: 720px) {
    font-size: 3em;
    line-height: 1.2em;
  }
  @media screen and (max-width: 450px) {
    font-size: 2.5em;
    line-height: 1.4em;
  }
  @media screen and (max-width: 360px) {
    font-size: 2.1em;
  }
}
@mixin p {
  font-family: 'Alice', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}
//---------------------------------------others
@mixin disableAnim {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.btn-primary {
  border-radius: $radius-btn;
  padding: 15px 40px;
  margin: 0 2%;
  color: $black;
  text-decoration: none;
  background: $white;
  &:hover {
    transition: $transition;
    color: $white;
    background: $primary;
  }
}
.btn-secondary {
  border-radius: $radius-btn;
  padding: 15px 40px;
  margin: 0 2%;
  color: $white;
  text-decoration: none;
  background: $primary;
  &:hover {
    transition: $transition;
    background: darken($primary, 15%);
  }
}
