@import "variables";
@import "~rfs/scss";

//---------------------------------------custom scrollbar
@mixin customScrollbar($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {

  // For Google Chrome
  ::-webkit-scrollbar {
    width:  $size;
    height: $size;
    background-color: $background-color;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
    -webkit-border-radius: $radius-scroll;
    -moz-border-radius: $radius-scroll;
    border-radius: $radius-scroll;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
    -webkit-box-shadow: $box-shadow-inset;
    -moz-box-shadow: $box-shadow-inset;
    box-shadow: $box-shadow-inset;
    -webkit-border-radius: $radius-scroll;
    -moz-border-radius: $radius-scroll;
    border-radius: $radius-scroll;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

//---------------------------------------heading
@mixin h1 {
  @include rfs(64);
  font-family: 'Alice', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  text-align: center;
}
@mixin p {
  @include rfs(24);
  font-family: 'Alice', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: normal;
  text-align: center;
}
@mixin subtext {
  @include rfs(16);
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}
//---------------------------------------others
@mixin disableAnim {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
@mixin centered($horizontal: true, $vertical: true) {
  position: absolute;

  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);

  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

