@import "../../assets/styles/utils/mixins";

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $overlay;
  z-index: 99999;
}

.spinner {
  @include centered(true, true);
}
