.change-detection-example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  padding: 50px;
  height: 100vh;
  button {
    margin: 20px 0;
  }
  hr {
    width: 100%;
    margin: 20px 0;
    height: 2px;
    background: red;
  }

}
