<div class="page-home">

  <nv-header></nv-header>

  <section class="section-1">
    <div class="wrap offset-middle">

      <h1 *ngIf="!dataUse">Get Data</h1>
      <ng-container *ngFor="let data of dataHome$; trackBy: trackByItem;">

        <div [@showing]>
          <h1>{{ data?.title }}</h1>
          <p>{{ data?.description }}</p>

          <ul *ngFor="let item of data.items; trackBy: trackByItem;">
            <li>
            <span>
              <strong>{{ item.itemTitle }}</strong>: <span>{{ item.itemDescription }}</span>
            </span>
            </li>
          </ul>
        </div>

      </ng-container>

      <button *ngIf="dataUse" (click)="openDialog()" class="__btn-primary" [@showing]>Open dialog</button>
      <button *ngIf="!dataUse" (click)="callApi()" class="__btn-primary">Call Data</button>

    </div>
  </section>

  <section id="SecondSection">
    <h2>SecondSection</h2>
  </section>

  <nv-footer></nv-footer>

</div>
