<div class="page-home">

  <nv-header></nv-header>

  <section class="section-1 _flex-center _max-width">
    <div class="wrapper _padding-depth _flex-center">

      <h2 *ngIf="!dataUse">Get Data</h2>
      <ng-container *ngFor="let data of dataHome$; trackBy: trackByItem;">

        <div [@showing] class="_flex-center">
          <h1>{{ data?.title }}</h1>
          <p>{{ data?.description }}</p>

          <ul *ngFor="let item of data.items; trackBy: trackByItem;">
            <li>
            <span>
              <strong>{{ item.itemTitle }}</strong>: <span>{{ item.itemDescription }}</span>
            </span>
            </li>
          </ul>
        </div>


      </ng-container>
      <button *ngIf="dataUse" (click)="openDialog()" class="_btn-secondary" [@showing]>Open dialog</button>
      <button *ngIf="!dataUse" (click)="callApi()" class="_btn-secondary">Call Data</button>

    </div>
  </section>

  <nv-footer></nv-footer>

</div>
