

<div class="page-home">

  <nv-header></nv-header>

  <section class="section-1 flex-center max-width">
    <h1>Lorem ipsum.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cumque eaque fugiat, fugit laudantium optio porro quod repellendus soluta unde?</p>
    <button (click)="openDialog()" class="btn-secondary">Open dialog</button>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cumque eaque fugiat, fugit laudantium optio porro quod repellendus soluta unde?</p>
  </section>

  <nv-footer></nv-footer>

</div>
