@import "../../../assets/styles/utils/mixins";

.page-home {

  //----------------------------------------------section-1
  .section-1 {
    @include flex-center;
    margin-top: $offsetTB_big;
    margin-bottom: $offsetTB_big;
    flex-direction: column;
    padding: 50px 0;
    h1 {
      color: $black;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
    }
    .wrap {
      align-items: center;
      flex-direction: column;
      & > div {
        align-items: center;
        flex-direction: column;
      }
      p {
        max-width: 500px;
        text-align: center;
        margin-bottom: 20px;
        color: $black;
      }
      ul {
        li {
          color: $black;
          @include p-18;
        }
      }
      button {
        width: 100%;
        margin: 0 auto;
      }
    }

  }

  #SecondSection {
    @include flex-center;
    padding: 50px 0;
    background: $gradient-black;
    h2 {
      color: $white;
    }
  }

}
