@import "../../../assets/styles/utils/mixins";

.page-home {
  //---------------------------------------------main
  h1 {
    @include h1;
    font-weight: bold;
  }
  p {
    @include p;
  }
  h1, p {
    margin-bottom: 20px;
  }
  //---------------------------------------------section 1
  .section-1 {
    height: 100vh;
    align-items: center;
    flex-direction: column;
    .wrapper {
      align-items: center;
      flex-direction: column;
      p {
        max-width: 500px;
        text-align: center;
      }
      ul {
        li {
          @include caption;
        }
      }
      button {
        margin-top: 20px;
      }
    }

  }

}
