@import "../../../assets/styles/utils/mixins";

header {
  background-color: $primary;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    //----------------------------------------------logo-wrapper
    .logo-wrapper {
      img {
        width: 70%;
      }
    }

    //----------------------------------------------links-wrapper
    .links-wrapper {
      display: flex;
      align-items: baseline;
      ul {
        display: flex;
        list-style: none;
        li {
          position: relative;
          padding-right: 30px;
          text-align: center;
          a {
            @include p-16;
            color: $white;
            transition: color $transition3;
            text-decoration: none;
            &:hover {
              color: $black;
            }
          }
        }
      }

    }

  }
}
