<header>
  <div class="offset-middle">
    <nav role="navigation">
      <!---------------------------------------------------------logo-wrapper-->
      <div class="logo-wrapper">
        <a [routerLink]="HOME" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <img src="../../../assets/icons/apple-touch-icon-120x120.png" [alt]="'Logo Footer | ' + APP_LABEL" alt="Logo">
        </a>
      </div>

      <!---------------------------------------------------------links-wrapper-->
      <div class="links-wrapper">
        <ul>
          <ng-container>
            <li *ngFor="let link of nav; trackBy: trackByItem;">
              <a *ngIf="!link.scrollToEl" [routerLink]="[link.url]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: link.exact }" [attr.aria-label]="'Go to ' + link.name">{{ link.name }}</a>
              <a *ngIf="link.scrollToEl" [attr.aria-label]="'Go to ' + link.name" (click)="scrollToElement(link.scrollToEl)">{{ link.name }}</a>
            </li>
          </ng-container>
        </ul>
      </div>

    </nav>
  </div>
</header>
