<footer class="padding-responsive">

  <div class="max-width">
    <div class="footer-content">
      <img src="../../../assets/icons/icon-128x128.png" alt="Logo Footer" routerLink="/">

      <div class="social-footer">
        <div class="icons">
          <a href="#!" aria-label="Our Twitter">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#!" aria-label="Our LinkedIn">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="#!" aria-label="Our Medium">
            <i class="fab fa-medium-m"></i>
          </a>

        </div>

      </div>
    </div>

    <!---------------------------------------------------------separator-->
    <div class="separator-wrapper max-width">
      <hr class="separator">
    </div>

    <div class="copyright">
      <p>Copyright © {{ currentYear }}</p>
      <a routerLink="/terms-of-use" aria-label="Go to Terms Of Use"><p>TERMS OF USE & DISCLOSURE</p></a>
    </div>
  </div>


</footer>
