<div class="content">

  <div class="top">
    <img src="../../../assets/icons/icon-128x128.png" [alt]="'Logo' + APP_LABEL">
    <p>Install this app on your device.</p>
    <p>Tap the share icon and then. <br />
      <strong>Add to homescreen</strong>
    </p>
  </div>

  <div class="full-width">
    <fa-icon [icon]="iconArrowDown" size="lg"></fa-icon>
  </div>

</div>

<button type="button" class="btn-close" (click)="close()" aria-label="Close">
  <fa-icon [icon]="iconTimes" size="lg"></fa-icon>
</button>
