<header class="max-width padding-responsive">
  <nav role="navigation">

    <div class="logo-wrapper" [@visibilityChanged]="visibilityChanged">
      <img src="../../../assets/icons/icon-128x128.png" alt="Logo" routerLink="/">
    </div>

    <div class="logo-wrapper" [@visibilityChanged]="visibilityChangedSticky">
      <img src="../../../assets/icons/icon-72x72.png" alt="Logo Min" routerLink="/">
    </div>

    <div class="links-wrapper">

      <ul>
        <li *ngFor="let link of nav">
          <a [routerLink]="[link.url]" routerLinkActive="active" aria-label="Main Pages">{{ link.name }}</a>
        </li>
      </ul>

    </div>

    <!-------------------------------------sidenav-->

    <div class="sidenav-wrapper">

      <div class="logo-wrapper-sidenav">
        <img src="../../../assets/icons/icon-72x72.png" alt="Logo Sidenav" routerLink="/">
      </div>

      <label (click)="sidenavOpen()" class="burger">
        <div [class.cross]="openSidenav">
          <svg viewBox="0 0 800 600">
            <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" class="topDivider"></path>
            <path d="M300,320 L540,320" class="middleDivider"></path>
            <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" class="bottomDivider"
                  transform="translate(480, 320) scale(1, -1) translate(-480, -318) "></path>
          </svg>
        </div>
      </label>

    </div>

    <div id="mySidenav" class="sidenav">
      <ul>
        <li *ngFor="let link of nav">
          <a [routerLink]="[link.url]" routerLinkActive="active" aria-label="Main Pages">{{ link.name }}</a>
        </li>
      </ul>

    </div>

  </nav>
</header>
