<div [@routeAnimations]="getRouterOutletState(o)">
  <router-outlet #o="outlet"></router-outlet>
</div>

<nv-loader></nv-loader>

<div class="cookie-consent" *ngIf="cookieConsent">
  <div class="wrap">
    <div class="item description">
      <fa-icon [icon]="iconCookie" size="lg"></fa-icon>
      <p>Using our website you confirm that you got introduced to our Privacy Policy and</p>
    </div>
    <div class="item allow">
      <button type="button" aria-label="Allow Cookie" (click)="allowCookies()" class="__btn_primary">Go It!</button>
    </div>
  </div>
</div>

<ngx-json-ld [json]="schema"></ngx-json-ld>
