.change-detection-example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  padding: 50px;
  height: 100vh;
  input, button {
    margin-bottom: 20px;
  }
}
