<footer>
  <div class="offset-middle">

    <!---------------------------------------------------------content-->
    <div class="footer-content">
      <a [routerLink]="HOME" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <img src="../../../assets/icons/icon-128x128.png" [alt]="'Logo Footer | ' + APP_LABEL" [routerLink]="HOME">
      </a>
    </div>

    <!---------------------------------------------------------separator-->
    <div class="separator-wrapper">
      <hr class="separator">
    </div>

    <!---------------------------------------------------------copyright-->
    <div class="copyright">
      <p>Copyright © {{ currentYear }}</p>
      <div class="privacy-link">
        <ng-container>
          <a *ngFor="let link of linksPrivacy; trackBy: trackByItem;" [routerLink]="link.url" [attr.aria-label]="'Go to ' + link.name">{{ link.name }}</a>
        </ng-container>
      </div>
    </div>

  </div>
</footer>
