@import "../../../assets/styles/utils/mixins";

footer {
  background-color: $black;
  padding-top: $offsetTB_min;
  padding-bottom: $offsetTB_min;

  //----------------------------------------------copyright
  .copyright {
    display: flex;
    justify-content: space-between;
    p {
      @include p-16;
      color: $white;
    }
    .privacy-link {
      display: flex;
      align-items: center;
      a {
        @include p-16;
        color: $white;
        transition: color $transition3;
        text-decoration: none;
        &:not(:last-child) {
          margin-right: 10px;
        }
        &:hover {
          color: $primary;
        }
      }
    }

  }

}
