@import "../../../assets/styles/utils/mixins";

footer {
  background-color: $black;
  padding-top: $offsetTB_min;
  padding-bottom: $offsetTB_min;

  //----------------------------------------------content
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
    img:hover {
      cursor: pointer;
    }
  }

  //----------------------------------------------separator
  hr.separator {
    background: $border;
    // height: 1px;
    width: 100%;
  }

  //----------------------------------------------copyright
  .copyright {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    p {
      @include p-16;
      color: $white;
    }
    .privacy-link {
      a {
        @include p-16;
        color: $white;
        transition: color $transition3;
        text-decoration: none;
        &:not(:last-child) {
          margin-right: 10px;
        }
        &:hover {
          color: $primary;
        }
      }
    }

  }

}
