/*-------------------------------------------------max-width*/
.max-width {
  max-width: 1440px;
  margin: 0 auto;
}
/*-------------------------------------------------text*/
.subtext {
  font-family: 'Kanit', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #1976d2;
  text-align: center;
}
/*-------------------------------------------------other*/
.coming-soon {
  user-select: none;
  & > div {
    opacity: 0.4;
  }
}
.m0 {
  @media screen and (max-width: 480px) {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
.p0 {
  @media screen and (max-width: 480px) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
