@import "utils/mixins";

/*----------------------------sticky-header*/
nv-header {
  background-color: $black;
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  transition: $transition3;
}

/*----------------------------material*/
.mat-snack-bar-container {
  background: $black !important;
}
.cdk-overlay-dark-backdrop {
  background: $overlay !important;
}
.mat-dialog-container {
  border-radius: $radius-btn !important;
}
.mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode=indeterminate] circle {
  stroke-width: 4% !important;
}
/*----------------------------links*/
a:hover, button:hover {
  cursor: pointer;
  transition: $transition3;
  text-decoration: none;
}
a.active {
  @include disableCursor;
  transition: all $transition3;
  color: darken($primary, 25%);
  border-bottom: 2px solid $primary;
  &:hover {
    color: darken($primary, 25%);
    border-bottom: 2px solid $primary;
  }
}

/*----------------------------disable-btn*/
.btn-disabled {
  @include disableCursor;
  border: 2px solid $placeholder !important;
  background: $placeholder !important;
  opacity: 0.6;
  color: $white !important;
  &:hover {
    border: 2px solid $placeholder !important;
    background: $placeholder !important;
    opacity: 0.6;
    color: $white !important;
  }
}
/*----------------------------cookie*/
.cookie-consent {
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  background-color: $black;
  p {
    color: $white;
  }
}
/*----------------------------placeholder*/
::-webkit-input-placeholder {
  color: $placeholder !important;
  text-transform: uppercase !important;
}
::-moz-placeholder {
  color: $placeholder !important;
  text-transform: uppercase !important;
}
:-ms-input-placeholder {
  color: $placeholder !important;
  text-transform: uppercase !important;
}
:-moz-placeholder {
  color: $placeholder !important;
  text-transform: uppercase !important;
}
