@import "../utils/mixins";

// container
body, html {
  padding: 0;
  margin: 0;
  font-family: $font-family;
}
html {
  @include customScrollbar(.5em, $overlay);
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  &.hide-scroll {
    overflow: hidden;
  }
}

body {
  height: 100%;
}

// normalize
h1, h2, h3, h4, h5, h6, p, svg, button, img, div, form, input, li:focus-within a {
  outline:  none !important;
}
img {
  max-width: 100%;
}

// links
a:hover, button:hover {
  cursor: pointer;
  transition: $transition3;
  text-decoration: none;
}
a.active {
  @include disableCursor;
  transition: all $transition3;
  color: darken($primary, 25%);
  &:hover {
    color: darken($primary, 25%);
    border-bottom: 2px solid $primary;
  }
}
// form
input {
  @include p-16;
  color: $placeholder;
}

// selection
::selection {
  background-color: $primary;
  color: $white;
}
::-moz-selection {
  background-color: $primary;
  color: $white;
}

// placeholder
::-webkit-input-placeholder {
  color: $placeholder !important;
  text-transform: uppercase !important;
}
::-moz-placeholder {
  color: $placeholder !important;
  text-transform: uppercase !important;
}
:-ms-input-placeholder {
  color: $placeholder !important;
  text-transform: uppercase !important;
}
:-moz-placeholder {
  color: $placeholder !important;
  text-transform: uppercase !important;
}
